.image{
     width: 225px;
     height:auto;
 }
/*css for detail-product*/
.product-name {
    text-transform: uppercase;
    font-weight: bold;
}
.btn:hover{
    background-color: #c9d1da
}
.btn-d1{
    color: #212529;
    background-color: orangered;
}
.product-status {
    color: #f11a18;
    margin-bottom: 10px;
    font-size: 14px;
}
.thumbnail {
    overflow: hidden;
    border: 2px solid #e5e5e5;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    transition-duration: 2s;
}
.thumbnail img:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.product-price {
    font-size: 25px;
    font-weight: bold;
    color: #ff5002;
}
.product-single-quantity {
    width: 16%;
    display: inline-block;
}
.product-actions {
    margin-top: 30px;
    overflow: hidden;
}
.product-detail {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    border-radius: .125rem;
    overflow: hidden;
    background: #fff;
    margin-top: -5px;
    margin-bottom: 50px;
    padding: .625rem;
}
.checked {
    color: #ffe70a;
}
.rating {
    font-size: 14px;
    color: #e9605c;
}
.img-reponsive {
    width: 265px;
    height: 265px;
}
.pro-price {
    display: block;
    color: #af2727;
    font-size: 18px;
    font-weight: 700;
}
.name-dt {
    font-size: 14px;
    margin: -8px 39px 0px;
    font-weight: 500;
    text-transform: capitalize;
    width: 178px;
    font-family: cursive;
}
.day-dt {
    font-size: 12px;
    color: #999;
    margin: 0px 40px 30px;
}
/*contact*/
.media-contact {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 6px;
    text-align: center;
    line-height: 45px;
    background-color: #ededed;
}
/*!*css for client about*!*/
/*css for client about*/
.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


img.img-thumbnail{
    border: 0px white;
    width: 80%;
    margin-left: 20%;
}
.header-intro {
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/tris.jpg);
    background-position: center -5.55556px;
}
.t-center {
    text-align: center;
}
.p-b-158 {
    padding-bottom: 158px;
}
.p-t-135 {
    padding-top: 135px;
}

img.titel-about{
    width: 30%;
    border-radius: 100%;
    margin-left: 35%;
}
i.font1{
    font-family: " Nestle-Text-Light";
    font-size: 142%;
}
b.kiluc1{
    font-size: 250%;
    color: red;
}
b.kiluc{
    font-size: 250%;
    color: blueviolet;
}
i.font2{
    font-family: " Nestle-Text-Light";
    font-size: 210%;
    margin-left: 26%;
}
p.font1{
    font-family: " playfair display,serif";
    font-size: 160%;
    margin-left: -5%;
}
i.fas fa-user-tie{
    font-size: 100px;
}
p.text-toy{
    text-align: center;
}
strong.kiluc1{
    font-size: 120%;
    color: blue;
}
strong.kiluc{
    font-size: 120%;
    color: orangered;
}
/*b{*/
/*    font-size: 250%;*/
/*    color: #1d68a7;*/
/*}*/
.card-body#card{
    margin-bottom: 39%;
}
@media screen and (min-width: 576px)and (max-device-width: 776px) {
    #thua2{
        display: none;
    }
}
@media screen and (min-width: 576px)and (max-device-width: 992px) {
    #thua{
        display: none;
    }
}
/*css for admin layout*/
.admin-nav-link:hover {
    background: white;
}
.admin-nav-side {
    border-right: 2px solid black;
}
/*end css for admin layout*/

/*css của header*/
.bg-title-page {
    width: 100%;
    min-height: 545px;
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
}
.flex-c-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}
.p-r-15 {
    padding-right: 15px;
}
.p-l-15 {
    padding-left: 15px;
}
.p-b-80 {
    padding-bottom: 80px;
}
.p-t-160 {
    padding-top: 160px;
}
